.App {
  text-align: center;
}

.app-body {
  width: 92%;
  text-align: left;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

/* Standardized menu styling for across the app */
.menu-content {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

.menu-content > hr {
  border-color: black;
}

.menu-content > h3 {
  line-height: 20%;
}

.menu-content > a {
  color: black;
  font-size: 20px;
  line-height: 180%;
}

.menu-content > a:hover {
  color: #666666;
  text-decoration: none;
}

/* Styles for success and error messages. */
.error-msg {
  font-family: 'Source Sans Pro', sans-serif;
  color: red;
}

.success-msg {
  font-family: 'Source Sans Pro', sans-serif;
  color: green;
}

.navbar {
  margin-bottom: 5px;
}

.navbar-nav li a {
  line-height: 32px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e5e5d8;
}

.navbar-header{
  width: 100%;
}

.navbar-default{
  /* Sets the header background */
  background-color: #222059;
  border-color: #222059;
}

.navbar-default .navbar-brand {
  /* Set the color for the brand section */
  color: white;
  font-size: 28px;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar {
  margin-bottom: 5px;
}

.navbar-nav li a {
  line-height: 32px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e5e5d8;
}

.navbar-header{
  width: 100%;
}

.navbar-default{
  /* Sets the header background */
  background-color: #222059;
  border-color: #222059;
}

.navbar-default .navbar-brand {
  /* Set the color for the brand section */
  color: white;
  font-size: 28px;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  /* Colors for the active tab */
  color: white;
  background-color: #030033;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #030033;
  cursor: pointer;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #030033;
  cursor: pointer;
}

.header-star {
  padding-right: 15px;
  cursor: pointer;
}

.panel-nav-options {
  padding-bottom: 25px;
}

.toggle-span {
  width: 100%;
  text-align: center;
}
-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  /* Colors for the active tab */
  color: white;
  background-color: #030033;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #030033;
  cursor: pointer;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #030033;
  cursor: pointer;
}

.header-star {
  padding-right: 15px;
  cursor: pointer;
}

.panel-nav-options {
  padding-bottom: 25px;
}

.toggle-span {
  width: 100%;
  text-align: center;
}

.input-box {
  max-width: 30vw;
}

